
 *, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: var(--ff-poppins);
}
body{
  display: block;
  background-image: url(images/falco-negenman--f2sJr-PJDA-unsplash.jpg);
  animation: move 120s ease-in-out infinite;


}
.output{
    text-align: center;
    color: azure;
    font-size: x-large;
    font-family: sans-serif;
    margin-top: 60px;
}
.sidebar-info {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin-top: 30px;
  color:white;
  font-size: 20px;
    font: weight 20px;;

}
.avatar-box {
  background: var(--bg-gradient-onyx);
  border-radius: 20px;
}
.info-content .name {
 color: azure;
  font-size:20px;
  font: weight 20px;;
  letter-spacing: -0.25px;
  margin-bottom: 5px;
}
.info-content .title {
 color: azure;
  font-size:20px;
  font: weight 20px;;
  letter-spacing: -0.25px;
  margin-bottom: 5px;
}
.sidebar {
  margin-bottom: 15px;
  overflow: hidden;
}
.navbar {
  position: absolute;
  margin-left: 300px;
  background-color: rgb(211, 226, 43);
  backdrop-filter: blur(10px);
  border: 1px solid var(--jet);
  border-radius: 12px 12px 0 0;
  box-shadow: var(--shadow-2);
  z-index: 5;
  width: 40%;

}
.navbar-list {
  display: flex;
  justify-content: center;
  padding:0 20px;
  font-size: 20px;
}
ul {
  display: inline-block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 40px;
  gap: 20px;
  list-style: none;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
  list-style: none;
  font-weight: 200px;
  cursor: pointer;
  color: whitesmoke;
  font-size: 20px;

}
article.active {
  display: block;
}
header {
  display: block;
  color: whitesmoke;
  font-weight: 100px;
  font-size: 20px;
  text-decoration:underline;
margin-bottom: 10px;
padding-left: 30px;
}
.article-title {
  position: relative;
  padding-bottom: 7px;}

  .about-text {
    color:white;
    line-height: 1.6;
  font-size: 25px;}
    

    .about-text p {
      margin-bottom: 15px;
  }
  .service {
    margin-bottom: 35px;
}
.service-title {
  margin-bottom: 20px;
  color: aqua;
  margin-top: 10px;
  padding-left: 30px;
}
.service-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  color: aliceblue;
  font-size: 20px;
}
header {
  display: block;
  color: bisque;
}
.timeline {
  margin-bottom: 30px;
  color: burlywood;
}
.timeline .title-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}

.h3 {
  font-size: var(--fs-2);
}
.timeline-list {
  font-size: var(--fs-6);
  margin-left: 45px;
}
.timeline-item:not(:last-child) {
  margin-bottom: 20px;
}
.timeline-item {
  position: relative;
}

.timeline-text {
  color: var(--light-gray);
  font-weight: var(--fw-300);
  line-height: 1.6;
}
article.active {
  display: block;}
  header {
    display: block;
}
.article-title {
  margin-bottom: 30px;
}
.article-title {
  position: relative;
  padding-bottom: 7px;
}
.h2 {
  font-size: var(--fs-1);
}

.contact {
  display: flex;
}
.form-input1 {
  color: var(--white-2);
  font-size: var(--fs-6);
  font-weight: var(--fw-400);
  padding: 13px 20px;
  border: 1px solid var(--jet);
  border-radius: 14px;
  width: 100%;

}
.input-wrapper {
  display: grid;
  grid-template-columns: repeat(1fr);
  gap: 25px;
  margin-bottom: 25px;
}
.mapbox {
  position: relative;
  width: 90%;
  margin-bottom: -200px;
  margin-left: -70px;
  margin-top: 40px;
}


.contact-form {
  color: white;
  width: 100%;
}
.contact{
  width: 40%;
}
.form-input{
  color: var(--white-2);
  font-size: var(--fs-6);
  font-weight: var(--fw-400);
  padding: 13px 20px;
  border: 1px solid var(--jet);
  border-radius: 14px;
}
.form{
  margin-top: 30px;
}
.message{
  border: 1px solid var(--jet);
  border-radius: 14px;
  padding: 13px 20px;
  font-size: 20px;
  cursor: pointer;
  width: 10%;
}
  @keyframes move{
    0%{
      background-position:center ;     
    }
    50%{
      background-position: right;
    }
    100%{
      background-position: left;

    } }
  
  
  
  