
 *, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: var(--ff-poppins);
}
body{
  display: block;
  background-image: url(images/falco-negenman--f2sJr-PJDA-unsplash.jpg);
  animation: move 120s ease-in-out infinite;


}
.output{
    text-align: center;
    color: azure;
    font-size: x-large;
    font-family: sans-serif;
    margin-top: 60px;
}
.sidebar-info {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin-top: 30px;
  color:white;
  font-size: 20px;
    font: weight 20px;;

}
.avatar-box {
  background: var(--bg-gradient-onyx);
  border-radius: 20px;
}
.info-content .name {
 color: azure;
  font-size:20px;
  font: weight 20px;;
  letter-spacing: -0.25px;
  margin-bottom: 5px;
}
.info-content .title {
 color: azure;
  font-size:20px;
  font: weight 20px;;
  letter-spacing: -0.25px;
  margin-bottom: 5px;
}
.sidebar {
  margin-bottom: 15px;
  overflow: hidden;
}
.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: hsla(349, 58%, 32%, 0.315);
  backdrop-filter: blur(10px);
  border: 1px solid var(--jet);
  border-radius: 12px 12px 0 0;
  box-shadow: var(--shadow-2);
  z-index: 5;

}
.navbar-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
 
}
ul {
  display: inline-block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 40px;
  gap: 20px;
  list-style: none;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
  list-style: none;
  cursor: pointer;

}
article.active {
  display: block;
}
header {
  display: block;
  color: whitesmoke;
  font-weight: 100px;
  font-size: 20px;
  text-decoration:underline;
margin-bottom: 10px;
padding-left: 30px;
}
.article-title {
  position: relative;
  padding-bottom: 7px;}

  .about-text {
    color:white;
    line-height: 1.6;}

    .about-text p {
      margin-bottom: 15px;
  }
  .service {
    margin-bottom: 35px;
}
.service-title {
  margin-bottom: 20px;
  color: aqua;
}
.service-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  color: aliceblue;
}




  @keyframes move{
    0%{
      background-position:center ;     
    }
    50%{
      background-position: right;
    }
    100%{
      background-position: left;

    } }
  
  
  
  